@charset "utf-8";

/*googleips 웹폰트 css 파일 불러오기*/
@import url(https://fonts.googleapis.com/css?family=Galada|Nanum+Gothic|Nanum+Myeongjo);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;900&display=swap');
/*
font-family: 'Noto Sans KR', sans-serif;
*/
/*font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Galada', cursive; */

/* 저장된 글꼴 파일 선언*/
/* @font-face { font-family : font_gothic;    
                src : url(../font/NanumGothic.ttf); }  */
/* 웹사이트의 글꼴 파일 선언*/
/* @font-face { font-family : font_gothic;    
                src : url(http://uhbee.com/nanum.eot) ; }   */


* {margin:0; padding:0;}
html{font-size:16px;}
body{ font-size:16px;
      color:#6f6f6f;
      font-family: 'Nanum Gothic', sans-serif }
ul, ol, li{list-style-type:none}
img, fieldset{border:none;vertical-align: middle}
hr {clear:both;border:none}
a {color:inherit;text-decoration:none;
   outline:0}
table{border-collapse:collapse}
input, textarea,
input::placeholder, textarea::placeholder {
      color:inherit;font-size:inherit;
       font-family:inherit;
       vertical-align: middle;
      outline: 0;}
button{outline:0}

.sound_only{display: block;text-indent:-9999999999px;
      height:0}

 #wrap{width: 100%; min-width: 1024px; overflow: hidden;}
.inner{min-width: 1024px; max-width: 1280px; margin: 0 auto;}


/*********************header****************************/

#header{width:100%;padding-top: 40px;}
#header .logo_box{
      width: 100%;
      text-align: center;
}
#header .logo_box a{
      width: 100px;
}
#header .logo_box img{
      width: 100px;
}
#header .nav {
      position: relative;
      right: 0;
      padding-top: 25px;
      margin-left: 27%;
      text-align: center;
      width:50%;
  }

#header .nav .depth1{

} 

#header .depth1 > li{
      display: inline-block;
      position: relative;
}
#header .depth1 > li > a{
      position: relative;
      margin-right: 40px;
      color: #222;
}
/*
#header .depth1 > li > a::after{
      position: absolute;
      content: "";
      width: 0;
      height: 6px;
      left: 0;
      bottom: 8px;
      background: #8DB952;
      z-index: -1;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
}
#header .depth1 > li:hover > a::after{width: 100%;}
*/
a.button{
      display:block;
      position:relative;
      width:100px; 
      height:40px; 
      color:#fff;
      text-decoration:none;
      perspective:10000px;
      font-size: 0.9rem;
    }
    a.button:before, a.button:after {
      content: attr(title);
      text-transform: uppercase;
      display:block;
      position:absolute;
      box-sizing:border-box;
      top:0;
      left:0;
      width:100%; height:100%;
      text-align:center;
      line-height:40px;
      transition: all 0.3s;
    }
    a.button:before{
      background: #8DB952;
    }
    a.button:after{
      border:4px solid  #8DB952;
      color: #8DB952;
      transform: rotateX(90deg) translateZ(40px);
      transform-origin: 50% 100%;
    }
    a.button:hover:before{
      transform: rotateX(-90deg) translateZ(40px);
      transform-origin: 50%  00%;
    }
    a.button:hover:after{
      transform: rotateX(0deg) translateZ(0px);
    }                                        
    

 



/*********************footer****************************/