#wrap{width: 100%; min-width: 1024px; overflow: hidden;}
#header{}
#section{}
#footer{}
.inner{min-width: 1024px; max-width: 1280px; margin: 0 auto;}




/*********************section****************************/




.page-main {
  position: relative;
}

.page-main > div {
  padding: 50px 0 100px;
}

.page-main > div h2 {
  color: #fff;
  text-align: center;
  margin: 0 0 50px;
  font-weight: normal;
  letter-spacing: 0.15em;
}

#typo {
  margin: 0;
  padding: 0;
 
  font-weight: bold;
  font-size: 110px;
  color: #fff;
  text-align: center;
  line-height: 500px;
  height: 500px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#typo .inner {
  position: relative;
  width: 976px;
  margin: 0 auto;
}

/*

배경화면

body {
  background-color: #fff;
background-image:
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
}
*/
  
  /* Global */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  
  .wrapper {
    padding: 30px 10%;
    transition: ease .2s;
  }


  
  /* Grid */
  .grid {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Clearfix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* Grid items */
  .item {
    display: inline-block;
    position: relative;
    width: 33.3%;
    /*
    margin: 20px 3.5%;
    */
    margin-bottom: 80px;
    background: var(--color-red);
    cursor: pointer;
    /* Animation */
    animation-name: append-item;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.42,.97,.52,1.49);
  }
  
  @keyframes append-item {
    0%  {
      -webkit-transform: translateY(250px);
      -ms-transform: translateY(250px);
      -o-transform: translateY(250px);
      transform: translateY(250px);
    }
    100%  {
      -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  
  .item img {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  
  .item-mid {

  }
  
  .item-big {
    width: 92%;
  }
  
  @media screen and (max-width: 768px){
    .item,
    .item-mid {
      width: 45%;
      margin: 15px 2.5%;
    }
  
    .item-big {
      width: 95%;
    }
  }
  
  @media screen and (max-width: 520px){
    .item,
    .item-mid,
    .item-big {
      width: 100%;
      margin: 15px 0%;
    }
  }
  
  /* Items */
  .img-item {
    position: relative;
    transform: translate(1, 1);
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    box-shadow: 0px 0px 0px rgba(0,0,0,0), 0 0px 0px rgba(0,0,0,0);
    transition: ease .5s;
    will-change: transform, box-shadow;
  }
  
  .item:hover .img-item {
    transform: translate(-2em, -2em);
    -webkit-filter: grayscale(75%);
    filter: grayscale(75%);
    box-shadow: 4px 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.20);
    z-index: 1;
  }
  
  .thumb-title {
    position: absolute;
    bottom: 0;
    padding: .5em 1em;
    color: #ffffff;
    font-size: .8em;
    letter-spacing: .1em;
  }
  
 
#sec_web{
    position: relative;
    width: 100%;
    height: 1060px;
    clear: both;
    display: block;
    content: '';
}
#sec_web .web_box{
    width: 100%;
    float: left;
    margin-bottom: 60px;
}
.hi_web{
    width: 780px;
    float: left;
    margin-right: 75px;
}
.page3{
    position:relative;
    width:780px; height:485px;
    background:#ccc;
  }
.page3:before{
    z-index:-1;
    content:'';
    position:absolute; 
    width:90%; height:90%;
    bottom: 3px; right:4px;
    box-shadow: 2px 5px 18px #444;
    /*
    transform:skew(2deg, 2deg);
    */
    transition:all 0.3s;
  }
  .page3:hover:before{
    box-shadow:none;
  }

.hi_webtit{
    width: 260px;
    color: #222;
    float: left;
    padding-top: 125px;
}

.hi_webtit .pf{
    font-size: 3.2rem;
    line-height:1.2 ;
    margin-bottom: 40px;
}

.hi_webtit .sub_web{
    font-size: 1.2rem;
}
.web_li{
    width: 100%;
}
.web_li ul li{
    width: 360px;
    float: left;
    margin-right: 7.2%;
}
.web_li li:last-child{margin-right: 0;}
.web_li .img_box{
    width: 360px;
    margin-bottom: 20px;
}
.web_li .tit_box{
    width: 360px;
    height: 40px;
}
.web_li .tit_box .cate{
    font-size: 0.8rem;
    margin-bottom: 10px;
}
.web_li .tit_box .txt{
    font-size: 1.1rem;
    color: #222;
}
.arrow span {
    position: relative;
}

.arrow span::after {
    content: '';
    width: 10px; /* 사이즈 */
    height: 10px; /* 사이즈 */
    border-top: 2px solid #121212; /* 선 두께 */
    border-right: 2px solid #121212; /* 선 두께 */
    display: inline-block;
    transform: rotate(45deg); /* 각도 */
    position: absolute;
    top: -15px; /* 기본 0px 값으로 해주세요 */
    left: 300px; /* 기본 0px 값으로 해주세요 */
}
p.p1{

    background: linear-gradient(to right, #4364f7, #23d5ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p.result{
     display: inline-block; 
     font-size:30px; 
     line-height: 28px; 
     border-right: 1px solid #000; 
     padding-right: 2px; 
     box-sizing: border-box; 
     animation: cursor 0.4s infinite;}

 @keyframes cursor{ 
      0%{border-right: 1px solid #fff} 
      50%{border-right: 1px solid #000} 
      100%{border-right: 1px solid #fff} 
    }

/***************banner***********************/
#sub_banner{
    width: 100%;
}
.banner_box{
    width: 100%;
    height: 680px;
    padding-top: 120px;
    margin-bottom: 40px;
}
.banner_box div{
    float: left;
    margin-bottom: 20px;
    width: 580px;
    height: 200px;
}
.banner_box .box1{
    width: 580px;
    height: 680px;
    float: left;
}
.banner_box .box2{
    width: 580px;
    height: 680px;
    float: right;
}
.mini{
    width: 100%;
    height: 300px;
}
.mini ul li {
    float: left;
    margin-right: 70px;
}
.mini ul li:last-child {margin-right:0;}


/***************modal**********/

#modal {
    width: calc(100% - 400px);
    height: 100%;
    position: fixed;
    left:200px;
    right: 200px;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999999999;
    display: none;    /*이것때문에 화면이 안보임*/
    text-align: center;
    overflow: auto;/*모달창안에 스크롤이 생김*/
}
#modal .body {
    padding: 50px;
    /*opacity: 0;*/
    /*transform: translate(-50%, -50%);*/

}
#modal .body img {
    margin-bottom: 20px;
    max-width: 100%;
}
#modal .body .button {
    text-align: right;
    margin-bottom: 30px;
}
#modal .body .button button {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    background: #009688;
    color: white;
}



/*******************contents**********/
#contents{
   width:100%;
   height:1830px;
}
.partner{
    padding-top: 120px;
}
.div1{
    width:100%;
    height:535px;
    margin-bottom: 120px;
}

.div1 .box3{
    margin-right: 0px;
}
.div2{
    width:100%;
    height: 370px;
    margin-bottom: 120px;
}
.div2 > div{
    margin-right: 19%;
}
.div2 .box5{
    margin-right: 0;
}
.div3{
    width:100%;
    height:370px;
    margin-bottom: 120px;
}
.div3 > div{
    margin-right: 19%;
}
.div3 .box7{
    margin-right: 0;
}
#contents .partner_info{
    float: left;
}
#contents .partner_info:after{
    clear: both;
    content: '';
    display: block;
}
#contents .partner_info > div {box-sizing: border-box;}



.page{
    position:relative;
    width:360px; height:535px;
    background:#ccc;
  }
  .page:before{
    z-index:-1;
    content:'';
    position:absolute; 
    width:90%; height:90%;
    bottom: 3px; right:4px;
    box-shadow: 2px 2px 18px #444;
    /*
    transform:skew(2deg, 2deg);
    */
    transition:all 0.3s;
  }
  .page:hover:before{
    box-shadow:none;
  }
  
.page2{
    position:relative;
    width:580px; height:370px;
    background:#ccc;
  }
  .page2:before{
    z-index:-1;
    content:'';
    position:absolute; 
    width:90%; height:90%;
    bottom: 3px; right:4px;
    box-shadow: 2px 5px 18px #444;
    /*
    transform:skew(2deg, 2deg);
    */
    transition:all 0.3s;
  }
  .page2:hover:before{
    box-shadow:none;
  }





  /**************click**********/
  @keyframes clicked {
    from {
        transform: scale(0);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

#clickEffect {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    pointer-events: none
}

#clickEffect::after {
    content: "";
    display: block;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    border-radius: 50%
}

#clickEffect.effect {
    display: block
}

#clickEffect.effect::after {
    animation: clicked .5s cubic-bezier(.29, 0, .15, 1)
}

  



